<nav>
    <ul class="menu">
        <li class="logo"><a href="/">Jeff A. Ripke</a></li>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/about">About</a></li>
        <li class="item"><a href="/portofolio">Portofolio</a></li>
        <li class="item"><a href="/links">Links</a></li>
        <li class="item"><a href="/contact">Contact</a></li>
        <li class="item"><a href="/photo-project">Photo Project</a></li>
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>
