.photo-links {
  padding: 15px;
}

.photo-links a {
  padding: 0 15px;
  color: green;
}

main {
  padding: 2rem;
}

.grid img {
  width: 50%;
}

.centered {
  text-align: center;
}

.image img {
  width: 75%;
  margin-top: 15px;
}
