<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
</head>
<body>

<main id="home" class="centered">
  <h1>Jeff A. Ripke</h1>
    <p >I am a life long learner. I love to learn and I am currently focused on web development (full-stack to be exact). I am also learning RV repair, training, and inspections. I recently obtained my level 1 RV inpector through the <a href="https://nrvia.org/" target="_blank">NRVIA</a> (National RV Inspection Association). Check out my <a href="https://www.linkedin.com/in/jeffripke/"><i class="fa-linkedin"></i></a> (LinkedIn) page, to see all of my training.</p>
</main>

<section id="about">
  <h2>About Me</h2>
  <img src="/img/IMG_2733.jpeg" alt="">
  <p>I am married and have 3 kids with one still in high school. We currently live in Spokane WA on 13 acres. I am currently working at AT&amp;T as a wireless technician. When my youngest graduates high school we plan on living fulltime in an RV, traveling around the USA.</p>
</section>

<hr>

<section id="portoflio">

    <h2>What Have I Built?</h2>
    <p>Here are some examples of what I have built.</p>
    <div>
      <div>
        <a href="img/screen-shot-1.jpeg" data-toggle="lightbox"><img src="img/screen-shot-1.jpeg" alt=""></a>
      </div>
      <div class="col-md-3">
        <a href="img/screen-shot-2.jpeg" data-toggle="lightbox"><img src="img/screen-shot-2.jpeg" alt=""></a>
      </div>
      <div class="col-md-3">
        <a href="img/screen-shot-3.jpeg" data-toggle="lightbox"><img src="img/screen-shot-3.jpeg" alt=""></a>
      </div>
    </div>
  <p><a href="https://github.com/jripke74" target="_blank"><i class="fab fa-github"></i></a> See all my work on GitHub</p>
</section>

<section id="links" class="container">

</section>

<section id="contact">
  <p>Email me with any questions or comments to <a href="mailto:jripke74@gmail.com?subject=Mail from jeffripke-com">jripke74@gmail.com</a>. Also, check out my LinkedIn page <a href="https://www.linkedin.com/in/jeffripke/"><i class="fab fa-linkedin"></i></a> </p> 
</section>

<%- include('../includes/footer.ejs') %>
