<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/photo-project.css">
</head>
<body>
<main>
  <div class="photo-links">
    <a href="add-photo">Add Photo</a>
  </div>
</main>




<!-- <img src="https://dl.dropboxusercontent.com/s/q2eqiuwa3pgitrm/EX000002.JPG" alt=""> -->

<%- include('../includes/footer.ejs') %>
